body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("/images/table.jpg");
  text-align: center;
  background-size: cover;
}

h1 {
  color: goldenrod;
  font-size: 80px;
  margin-top: 300px;
}

p {
  color: antiquewhite;
  font-size: 30px;
}

#message-element {
  font-style: italic;
  font-size: 35px;
}

.start-button {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #016f32;
  background-color: goldenrod;
  font-size: 30px;
  padding: 9px;
  width: 280px;
  transition-duration: 300ms;
  font-weight: bold;
}

.start-button:hover {
  color: antiquewhite;
  width: 300px;
}
